<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let notecard of notecardBrain.getNotecards()">{{notecard.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index">
            <th scope="row">{{item.name}}</th>
            <td *ngFor="let notecard of notecardBrain.getNotecards()"
                (click) = "toggleStatus(notecard, i)">
              {{notecard.items[i].status}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <label>Current Player</label> {{notecardBrain.getActivePlayer()}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button type="button" (click)="notecardBrain.previousPlayer()" class="btn btn-secondary">Back</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" (click)="toggleGuessing()">Guess</button>
        </div>
        <div class="col-md-4">
          <button (click)="notecardBrain.nextPlayer()" class="btn btn-secondary">Forward</button>
        </div>
      </div>
      <div *ngIf="guessing">
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group small-margin" dropdown>
              <button class="btn btn-primary" dropdownToggle>
                Suspect <span class="caret"></span>
              </button>
              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li *ngFor="let suspect of guessInformation.suspects" (click)="guessInformation.selectSuspect(suspect)" role="menuitem"><a class="dropdown-item" href="#">{{suspect}}</a></li>
              </ul>
            </div>
            {{guessInformation.selectedSuspect}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group small-margin" dropdown>
              <button class="btn btn-primary" dropdownToggle>
                Weapon <span class="caret"></span>
              </button>
              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li *ngFor="let weapon of guessInformation.weapons" (click)="guessInformation.selectWeapon(weapon)" role="menuitem"><a class="dropdown-item" href="#">{{weapon}}</a></li>
              </ul>
            </div>
            {{guessInformation.selectedWeapon}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group small-margin" dropdown>
              <button class="btn btn-primary" dropdownToggle>
                Room <span class="caret"></span>
              </button>
              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li *ngFor="let room of guessInformation.rooms" (click)="guessInformation.selectRoom(room)" role="menuitem"><a class="dropdown-item" href="#">{{room}}</a></li>
              </ul>
            </div>
            {{guessInformation.selectedRoom}}
          </div>
        </div>
        <div *ngIf="guessInformation.isValid()">
          <div class="row">
            <div class="col-md-12">
              Does {{notecardBrain.getRevealPlayer()}} have any?
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button (click)="learnOpponentHasNone()" class="btn btn-primary small-margin">Nope</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group small-margin" role="group">
                <button (click)="learnOpponentHasItem(guessInformation.selectedSuspect)" type="button" class="btn btn-primary">{{guessInformation.selectedSuspect}}</button>
                <button (click)="learnOpponentHasItem(guessInformation.selectedWeapon)" type="button" class="btn btn-primary">{{guessInformation.selectedWeapon}}</button>
                <button (click)="learnOpponentHasItem(guessInformation.selectedRoom)" type="button" class="btn btn-primary">{{guessInformation.selectedRoom}}</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 small-margin">
              <button (click)="learnOpponentHasSomething()" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
