<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Select Your Initial Items</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <div class="small-margin btn-group-vertical">
        <label *ngFor="let suspect of suspects" class="btn btn-primary" btnCheckbox (click)="toggleItem(suspect)">
          {{suspect.name}}
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="small-margin btn-group-vertical">
        <label *ngFor="let weapon of weapons" class="btn btn-primary" btnCheckbox (click)="toggleItem(weapon)">
          {{weapon.name}}
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="small-margin btn-group-vertical">
        <label *ngFor="let room of rooms" class="btn btn-primary" btnCheckbox (click)="toggleItem(room)">
          {{room.name}}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <div class="small-margin btn-group">
          <button (click)="editItems()" id="editButton" class="btn btn-warning" type="button">
            Edit Item Names
          </button>
          <button (click)="goToGame()" id="continueButton" class="btn btn-success" type="button">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     id="editModal" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Items</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <array-view [strings]="suspectNames"></array-view>
            </div>
            <div class="col-md-3">
              <array-view [strings]="weaponNames"></array-view>
            </div>
            <div class="col-md-3">
              <array-view [strings]="roomNames"></array-view>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-3">
              <div class="small-margin btn-group">
                <button (click)="closeChildModal()" id="cancelModal" class="btn btn-default" type="button">
                  Cancel
                </button>
                <button (click)="updateItemsFromModal()" id="okModal" class="btn btn-success" type="button">
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
