<h3>
  {{notecard.name}}
</h3>
<p>
  Suspects
</p>
<ul>
  <li *ngFor="let suspect of notecard.suspects">
    <div>
        <label (click)="suspect.status = toggleStatus(suspect.status)">
          {{suspect.name}} - {{suspect.status}}
        </label>
    </div>
  </li>
</ul>
<p>
  Weapons
</p>
<ul>
  <li *ngFor="let weapon of notecard.weapons">
    <div>
        <label (click)="weapon.status = toggleStatus(weapon.status)">
          {{weapon.name}} - {{weapon.status}}
        </label>
    </div>
  </li>
</ul>
<p>
  Suspects
</p>
<ul>
  <li *ngFor="let room of notecard.rooms">
    <div>
        <label (click)="room.status = toggleStatus(room.status)">
          {{room.name}} - {{room.status}}
        </label>
    </div>
  </li>
</ul>
